In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_modelado.csv')
df.set_index('title',inplace=True)
df.head()

                                                                          soup
title
Toy Story                    en 1995  Animation  Comedy  Family  Pixar Anim...
Jumanji                      en 1995  Adventure  Fantasy  Family  TriStar P...
Grumpier Old Men             en 1995  Romance  Comedy  Warner Bros.  Lancas...
Waiting to Exhale            en 1995  Comedy  Drama  Romance  Twentieth Cen...
Father of the Bride Part II  en 1995  Comedy  Sandollar Productions  Touchs...

In [3]:
df.dropna(inplace=True)

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# generar matriz de contabilizacion
count = CountVectorizer(dtype=np.int16)
count_matrix = count.fit_transform(df['soup'])
count_matrix

<45440x59590 sparse matrix of type '<class 'numpy.int32'>'
	with 721384 stored elements in Compressed Sparse Row format>

In [5]:
# generar indices para agregar a la matriz
indexes = pd.Series(df.index)
indexes

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45435                     Robin Hood
45436            Century of Birthing
45437                       Betrayal
45438               Satan Triumphant
45439                       Queerama
Name: title, Length: 45440, dtype: object

In [6]:
cosine_sim = cosine_similarity(count_matrix,count_matrix)
cosine_sim

:

:

In [ ]:
#Dororo
def reccomendations(title,cosine_sim=cosine_sim):
    recommended = []
    
    idx = indexes[indexes==title].index[0]

    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending=False)

    top_5_indexes = list(score_series.iloc[1:6].index)

    for i in top_5_indexes:
        recommended.append(list(df.index)[i])

    return recommended

In [ ]:
reccomendations('The Spanish Earth')